/*Header*/

.main-header{
    width: 100%;
    min-width: 320px;
    height: 110px;
    background-color: #252323;
}

.main-header img {
    margin-left: 2%;
    margin-top: 0.5%;
}

#socials_desktop{
    width: 20%;
    height: auto;
    list-style: none;
    float: right;
    margin-right: 1%;
}

#socials_desktop li{
    display: inline-block;
    margin-top: 38px;
    float: right;
    margin-right: 7%;
    color: rgba(133, 133, 133, 0.9);
    cursor: pointer;
    transition: color 0.5s;
}

#socials_desktop li:hover{
    color: rgba(173, 173, 173, 0.9);
}
#socials_desktop li p{
    float: right;
    padding-top: 3%;
    padding-left: 1%;
}

#socials_desktop li:last-child{
    float: right;
}

/*NAV MOBILE*/

#nav_mobile{
    display: none;
}

.btn-menu{
    display: none;
}

@media screen and (max-width: 1000px){

    .btn-menu {
        display: initial;
        width: 56px;
        height: 56px;
        float: right;
        border: 2px solid rgba(76, 72, 72, 0.9);
        text-align: center;
        border-radius: 56px;
        cursor: pointer;
        margin-top: 25px;
        margin-right: 20px;
        background-color: #252323;
        transition: filter 0.2s;
    }
    #socials_desktop {
        display: none;
    }
}

/*Small devices*/

@media screen and (min-width:100px){

    #nav_mobile{
        width: 100%;
        height: 100%;
        background-color: #252323;
        position: fixed;
    }

    #nav_mobile img{
        margin-top: 2%;
        margin-right: 5%;
        margin-left: 2%;
        width: 180px;
        height: auto;
        margin-bottom: 8px;
    }
    


    .btn-menu:hover {
        filter: brightness(200%);
    }

    .btn-close {
        margin: 5% 3%;
        font-size: 2em;
        float: right;
        cursor: pointer;
        transition: color 0.5s;
        border: none;
        color: rgba(83, 83, 83, 0.582);
    }
    
    .btn-close:hover {
        color: red;
    }

    #main-section-mobile{
        width: 100%;
        height: auto;
        background-color: #252323;
    }

    #lista_mobile{
        padding-top:5%;
        list-style: none;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 5%;
        display: table;
    }

    #lista_mobile li{
        color: rgba(255, 255, 255, 0.644);
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-size: 25pt; 
        font-weight: 500;
        transition: background-color 1s
    }

    #lista_mobile li:hover{
        background-color: rgb(49, 49, 49);
        cursor: pointer;
        border-radius: 5px;
    }

    #lista_socialmedias_mobile{
        list-style: none;
        width: 100%;
        padding-right: 5%;
    }

    #lista_socialmedias_mobile li{
        float: right;
        display: inline-block;
        margin-left: 1.5%; 
    }

    #lista_socialmedias_mobile li i{
        color: rgba(197, 197, 197, 0.644);
        transition: all 0.5s;
    }

    #lista_socialmedias_mobile li i:hover{
        color:  rgb(117, 117, 117);
        border-radius: 5px;
        cursor: pointer;
    }

    #footer_mobile{
        width: 100%;
        float: left;
        margin-top: 5%;
    }
    
    .footer_title_mobile{
        text-align: center;
        color: rgba(128, 128, 128, 0.644);
    }
}