#wpp a{
    color: #336e31;
    opacity: 75%;
    position: fixed;
    top: 85%;
    left: 93%;
    padding: 10px;
    z-index: 10000000;
}

@media screen and (max-width:1000px){
    #wpp a {
        top: 87%;
        left: 83%;
        font-size:13px;
    };
}

@media screen and (min-width:1024px){
    #wpp a {
        top: 80%;
        left: 93.5%;
        font-size:13px;
    };
}

@media screen and (min-width:1100px){
    #wpp a {
        top: 89.8%;
        left: 95.2%;
    };
}



