.slick-list{
    width: 100%;
    background-color: #eeeeee;
    overflow-x: hidden;
}

ul.slick-dots{
    position: sticky;
    background-color: #eeeeee;
}

.img_slick{
    width: 100%;
    height: 100%;
}

#slider-container{
    z-index: 7;
}